/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/
/vendor
.env
.env.backup
.env.production
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/docs/screenshots/
/.fleet
/.idea
/.vscode
/bootstrap/cache/*.php

public/deploy.php
public/patch-*.php
public/seeder-*.php
SESSION_LOG.md
