parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Laravel\\Socialite\\Contracts\\Provider\:\:stateless\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Auth/AuthController.php
